body {
  font-size: 16px;
  color: white;
  background-color: #61122f;
  font-family: 'Oxygen',sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border:0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */


 /* FOOTER */
 .panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
 }

 .panel-footer div.row {
  margin-bottom: 35px;
 }

 



/*****Large Devices Only ***/
@media (min-width: 1200px) {
  
}

/***Medium devices only***/
@media (min-width: 992px) and (max-width: 1199px) {
 


 
}

/***Small devices only***/
@media (min-width:768px) and (max-width: 991px) {
  
}

/***Extra small devices only***/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /*restaurant name*/
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

 
  #collapsable-nav a { /*collapsed nav menu glyph*/
    font-size: 1.2em;
  }


  
  /*End Header*/

  

/** super extra small devices only**/
@media (max-width: 479px) {
  /** header **/
  .navbar-brand h1 { /*restaurant name*/
    padding-top: 5px;
    font-size: 6vw;
  }
  

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
  }

  

 
}